
!!! 5
%html
  %head
    %title Etkileşimli Matematik Sözlüğü - 6. Sınıf
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{'name' => 'viewport', 'content' => 'width = device-width, initial-scale = 1, minimum-scale = 1, maximum-scale = 1, user-scalable = no'}
    = yield :head
    
  %body
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
    
      = yield
      